src/main/resources/mmc_flow.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!--W3C Schema generated by XMLSpy v2007 rel. 3 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/main" targetNamespace="http://schemas.openxmlformats.org/spreadsheetml/2006/main" elementFormDefault="qualified">
	<xs:element name="flows">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="flow" type="flow"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="flow">
		<xs:sequence>
			<xs:element name="start" type="start"/>
			<xs:element name="node" type="node" maxOccurs="10"/>
		</xs:sequence>
		<xs:attribute name="id" use="required"/>
		<xs:attribute name="name" use="required"/>
	</xs:complexType>
	<xs:complexType name="start">
		<xs:attribute name="executor" use="required"/>
		<xs:attribute name="flowState" use="required"/>
	</xs:complexType>
	<xs:complexType name="node">
		<xs:sequence>
			<xs:element name="commond" maxOccurs="10">
				<xs:complexType>
					<xs:attribute name="code" use="required"/>
					<xs:attribute name="executor" use="required"/>
					<xs:attribute name="flowState" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required"/>
		<xs:attribute name="name" use="required"/>
		<xs:attribute name="role" use="required"/>
	</xs:complexType>
</xs:schema>
